.corpo_menu{
 background-color: lavander;
 width: 100%;
 height: 55px;
 margin-top: -20px;
 
 
 
 

}
.menu{
    list-style:none;
    text-align: center;
    text-transform: uppercase;
    padding: 8px;
    font-size: 20px;
    
    
    
    
}
.li_menu{
    
    display: inline-block;
    right: 50px;
    padding:10px;
    

    
 
 

}
.link:hover{
    
    background-color: white;
}
.link{
    color: black;
    text-decoration: none;
    padding: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-top: 17px;
}
.link2{

    text-decoration: none;
    color: lavender;
}


body{
    margin:0;
    margin-top:0;
    background-image: url(wbeata.github.io/modelo6.jpg);
    background-size: cover;
    
    
}

.conteudo_curri{
   text-align:center;
   padding: 80px;
   margin:250px;
   margin-top: -5px;
   width:880px;
    }
    .curri{

        border-style: solid;
        border-color: darkgray;
        border-width: 2px;
        
         background-color: lavender;
        
    }
    .foto{

        border-radius: 100%;
        margin-left: -70%;
        margin-top: 10px;
        width: 10rem;
        height: 10rem;
        
        
        
    }
   
    .ul2{
        
        font-family: arial;

        
    }
    .conteudo_arquivos{
        background-color: white;
        margin-left: 27%;
        margin-top: 5%;
        width: 700px;
        height: 400px;
         padding: 50px;
        background: rgba(0, 0,0, 0.1);
        font-family: arial;
        

    }
    .titulo1{
        margin-top: -30px;
        
        text-align: center;
    }
    .l2{
        margin-left: -25px;
        display: block;


    }
